:root {
    --red-color: rgb(124, 28, 28);
    --green-color: rgb(31, 124, 28);
    --background-gray: rgb(53, 56, 62);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
html, body {margin: 0; padding: 0; background-color: var(--background-gray);}
html, body, button, input {color: white; font-size: 14pt; font-family: 'IBM Plex Sans';}

* {box-sizing: border-box;}

.align-items-center { align-items: center; }

.bg-blue {background-color: rgb(28, 33, 124);}
.bg-green {background-color: var(--green-color);}
.bg-red {background-color: var(--red-color);}

.flex {display: flex;}
.flex-direction-column {flex-direction: column;}
.flex-direction-row {flex-direction: row;}
.flex-grow-1 {flex-grow: 1;}

.font-weight-bold {font-weight: bold;}

.h-100 {height:100%;}

.inset-text-shadow {text-shadow: -1px -1px 0px black}

.margin-1em {margin: 1em;}

.modal {
    position: fixed;
    z-index: 100;
    background-color: var(--background-gray);
    border-radius: 1em;
    padding: 1em;
    box-shadow: 0px 5px 5px rgba(1, 1, 1, 0.75);
}

.overlay {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.66);
    display: none;
    opacity: 0;

    &.show {
        display: flex;
        align-items: center;
        justify-content: center;
        animation: fadeIn 0.25s; 
        opacity: 1;
    }
}

.padding-1em {padding: 1em;} 
.padding-right-1em {padding-right: 1em;}

.justify-content-center {justify-content: center;}

.table-layout-fixed {table-layout: fixed;}

.text-align-center {text-align: center;}
.text-align-right {text-align: right;}

.user-select-none {user-select: none; -webkit-user-select: none; }

.w-100 {width: 100%;}
.w-50 {width: 50%;}

a {
    text-decoration: none;
    color: white;
    font-weight: 900;
}

button {
    border-radius: 0px;
}

current-stopwatch {
    font-size: 3em;
}

element-ladder, element-splitter, main-element, stopwatch-timespan, stopwatch-tracker {display: block;}

element-splitter {    
    position: relative;

    .splitter-bottom, .splitter-top {
        height: 8px;    
        width: 100%;
        background-repeat: repeat-x;
        position: absolute;
    }
    
    .splitter-bottom { background-image: url("splitter-bottom.svg"); bottom:0px;}
    .splitter-top { background-image: url("splitter-top.svg"); top:0px;}
}

input {border:none; border-bottom: solid black 1px; background-color: rgb(31, 33, 35);}
input:focus {outline: none;}

p {
    margin: 0.25em 0em;
}

stopwatch-timespan {
    > div {padding: 0.5em 0;}
    .date-time:first-child {margin-bottom:  0.5em;}
}

stopwatch-tracker {    
    .current {height: 0px; overflow: hidden; transition: height 0.5s ease-in-out;}
    
    &.is-active {
        background-color: var(--green-color);
        .current {height:1.25em}
    }
}